body{
    margin: 0;
    font-family: sans-serif;
    color:black;
}
h1,h4{
    text-align: center;
}
a{
    text-decoration: none;
}
table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
form{
    align-items: center;
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}