/*Basic CSS NOTES BY: Angelo Rafael Recio*/
html{
    font-family: 'Courier New', Courier, monospace; /*font-family sets the fonts used by the page, if the first one does no exist, use second value    */
}
p{
    font-size: 35px;
    font-weight: 200; /*font-weight: used for the thickness of the font*/
    color: gray; /*Also accents Hex values or RGB values*/
}
.div1{
    text-align: center; /*Align Text horizontally*/
    vertical-align:middle; /*Aligns text vertically*/
    /*both properties take baseline,sub,super,% and px values*/
}
    /*Text decoration:  
        none - default,define a normal text
        inherit - inherits property of the parent element
        overline - line above text 
        underline - line below text
        line-through - line through text
    */
.sliced{
    text-decoration: line-through;
}